#scoreboard {
  font-size: 16px;
  margin: 10px;
}

#scoreboard-container {
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
}

#scoreboard-container::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

#scoreboard .rank::before {
  content: '#'
}
#scoreboard .score {
  text-align: right;
}
#scoreboard .rank {
  padding-right: 10px;
}

#scoreboard .name {
  min-width: 150px;
  padding-right: 10px;
}

#scoreboard .rank-1 * {
  color: #ff6b6b;
}

#scoreboard .rank-2 * {
  color: #1dd1a1;
}

#scoreboard .rank-3 * {
  color: #48dbfb;
}
